body {
  background-color: var(--bg-color);
}
.active {
  color: rgba(123, 97, 255, 1);
}
.boxNone {
  display: none;
}
.container1 {
  width: 574px;
  height: 540px;
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
}
.containerReg {
  width: 574px;
  height: 740px;
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
}
html[data-theme="dark"] {
  --background-color: #242426;
  --bg-color: #000000;
  --color: #ffffff;
  --input-bg: #323537;
  --input-border: #323537;
  --imb-raiting-bg: #00a340;
}
html[data-theme="light"] {
  --background-color: rgba(233, 233, 233, 0.633);
  --bg-color: #ffffff;
  --color: rgba(36, 36, 38, 1);
  --input-bg: #ffffff;
  --input-border: #afb2b6;
  --imb-raiting-bg: #a9f0c5;
}
