.header {
  width: 100%;
  margin: 40px 0 40px 0;
  padding: 0;
  height: 56px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.logo {
  color: var(--color);
  transition: color 200ms linear;
  font-size: 36px;
  font-weight: 700;
  width: 20%;
  text-align: center;
}
.input {
  margin-left: 10px;
  width: 60%;
  display: flex;
  background-color: var(--input-bg);
  transition: background-color 200ms linear;
  border: 2px solid var(--input-border);
  transition: border 200ms linear;
}
.user {
  text-align: center;
  font-size: 26px;
  width: 100%;
}
span {
  color: rgba(123, 97, 255, 1);
}
