.box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.containerBox {
  width: 100%;
  min-height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
input {
  width: 95%;
  height: 56px;
  padding-left: 20px;
  background-color: var(--input-bg);
  border: 2px solid var(--input-border);
  color: var(--color);
  font-size: 20px;
  border-radius: 10px;
}
.signIn {
  background-color: #7b61ff;
  border: none;
  width: 100%;
  height: 56px;
  color: white;
  font-size: 16px;
  font-weight: 600;
  border-radius: 10px;
  cursor: pointer;
}
h4 {
  color: #80858b;
  text-align: center;
  font-size: 16px;
  margin: 10px;
}

h2 {
  color: var(--color);
  margin: 5px;
  font-size: 20px;
}
h1 {
  color: var(--color);
  font-size: 28px;
}
a {
  color: #7b61ff;
}
